/* 引入字體 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* 引入icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");


/* 載入css rest */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* 以下自定義css語法 */


/* 設定標籤基本樣式 */
*,*::before,*::after{
  box-sizing: border-box;
}

/* 消除img下方的空白 */
img{
  vertical-align: middle;
}

/* 根目錄顏色 */
:root{
  --neutral-0:#FFFFFF;
  --neutral-100:#F8F9FA;
  --neutral-300:#DEE2E6;
  --neutral-600:#6C757D;
  --neutral-900:#212529;

  --primary-100:#F5FEE7;
  --primary-400:#57A203;
}

/* 字體顏色 */
.text-p-400{
  color: var(--primary-400);
}
.text-n-600{
  color: var(--neutral-600);
}
body{
  color: var(--neutral-900);
}

/* 通用字體 */
.h1{
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.05em;
  text-align: center;
  color: var(--neutral-0);
}

.h3{
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: 0.05em;
}

.h4{
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.05em;
}

.h5{
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.05em;
}

.text-14{
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

.text-16{
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

/* a連結設定 */
a{
  font-weight:500;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: var(--primary-400);
  text-underline-offset: 4px;
  display: block;
}

/* 背景底色 及 背景圖片*/
.bg-p-100{
  background-color: var(--primary-100);
  text-align: center;
}

.bg-n-100{
  background-color: var(--neutral-100);
}

.bg-img{
  background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week1/hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 151px;
}

.quote{
  border-radius:12px;
  text-align: center;
}

/* 設定border分隔線 */
.border-b{
  border-bottom: 1px solid var(--neutral-300);
}

.border-l-1{
  border-left: 1px solid var(--neutral-900);
  padding-left: 8px;
}

.border-l-3{
  border-left: 3px solid var(--neutral-300);
  padding-left: 12px;
}

/* 設定內部範圍padding區域 */
.p-b-4{
  padding-bottom: 4px;
}
.p-8{
  padding: 8px 0;
}
.p-r-8{
  padding-right: 8px;
}
.p-l-8{
  padding-left: 8px;
}

.p-tb-8{
  padding-top: 8px;
  padding-bottom: 8px;
}
.p-t-16{
  padding-top: 16px;
}

.p-32{
  padding: 32px;
}
.p-b-48{
  padding-bottom: 48px;
}
.p-tb-64{
  padding-top: 64px;
  padding-bottom: 64px;
}

/* 設定外部範圍margin區域 */

.m-b-4{
  margin-bottom: 4px;
}
.m-b-12{
  margin-bottom: 12px;
}
.m-b-16{
  margin-bottom: 16px;
}

.m-b-24{
  margin-bottom: 24px;
}

.m-b-48{
  margin-bottom: 48px;
}

/* .m-b-64{
  margin-bottom: 64px;
} */

/* 設定盒子容器大小 */
.box{
  width: 856px;
  margin: 0 auto;
}

/* 品牌簡介圖片範圍 */
.intro img{
  width: 1076px;
  margin-left: -100px;
  margin-right:-100px;
}

/* 設定footer區域 */
.footer{
  text-align: center;
}

/* 設定ul圓點列表 */
.li-list{
  list-style-type: disc;
  padding-left: 24px;
}

/* 設定箭頭符號樣式 */
.bi{
  padding-right: 8px;
  vertical-align: bottom;
}