.wrap{
    width: 640px;
    margin: 0 auto;
}

.main{
    display: flex;
}
.card{
    display: flex;
}

img{
    display: block;
}

.card img{
    width: 96px;
    height: 96px;
    margin-bottom: 24px;
}

.ad img{
    width: 216px;
    height: 216px;
}

.content{
    padding: 0 20px;
}

h2{
    font-size: 20px;
    line-height: 1.2;
}

p{
    font-size: 16px;
    line-height: 1.2;
}

.footer{
    background-color: #efefef;
    text-align: center;
    padding: 52px 0;
}